[client]
socket=/data1/mysqldata/mysql.sock
[mysqld]
datadir=/data1/mysqldata/data
innodb_data_home_dir=/data1/mysqldata/innodb/data
innodb_log_group_home_dir=/data1/mysqldata/innodb/log
log_bin=/data1/mysqldata/binlog/binlog.bin
relay_log=/data1/mysqldata/relay-log/relay-log.bin
tmpdir=/data1/mysqldata/tmp
socket=/data1/mysqldata/mysql.sock
server_id=123
log_timestamps=1
lc_messages_dir=/usr/local/mysql/share
